---
import type { HTMLAttributes } from "astro/types";

import "../../styles/global.css";
import "@fontsource-variable/space-grotesk";
import "@fontsource-variable/inter";
import "@fontsource-variable/jetbrains-mono";
import { ClientRouter } from "astro:transitions";

import Analytics from "../atoms/Analytics.astro";
import MetaData from "../atoms/MetaData.astroort interface Props extends HTMLAttributes<"html"> {
  description: string;
  image?: URL;
  lang?: string;
  title: string;
}

const {
  class: className,
  description,
  image,
  lang = "en",
  title,
  ...rest
} = Astro.props;
---

<!doctype html>
<html
  class="scroll-smooth"
  lang={lang}
  {...rest}
>
  <head>
    <MetaData description={description} image={image} title={title} />
    <Analytics />
    <ClientRouter />
    <slot name="head" />
  </head>
  <body
    class:list={[
      "bg-(--color-background)",
      "text-(--color-foreground)",
      "antialiased",
      "selection:bg-(--color-primary/20)",
      "selection:text-(--color-foreground)",
      className,
    ]}
  >
    <slot />
  </body>
</html>
