<div
  aria-hidden="true"
  class="pointer-events-none fixed top-0 left-0 z-250 h-[2px] w-0 bg-primary opacity-0 transition-all duration-300 ease-out"
  id="nav-progress"
>
</div>

<script>
  import { initNavigationProgress } from "../../lib/navigation-progress";
  initNavigationProgress();
</script>
