---
import { Icon } from "astro-icon/components";

import LayoutRoot from "../components/layout/layout-root.astro";
import { Button } from "../components/ui/button";
import { ErrorPage } from "../components/ui/not-found";
const title = "404 - Lost in Space";
const description = "The coordinates you entered do not correspond to a known sector.";
---

<LayoutRoot description={description} slug="/404" title={title}>
  <!--
Background removed -->
  <ErrorPage
    className="min-h-[calc(100vh-12rem)]"
    client:load
    code="404"
    description="The coordinates you provided lead to empty space. Recalibrating route to nearest outpost."
    title="Signal Lost"
  >
    <div class="flex w-full flex-col gap-3 sm:flex-row sm:justify-center">
      <Button as="a" className="w-full sm:w-auto" href="/" size="lg" variant="default">
        <Icon class="mr-2 size-6" name="mdi:rocket-launch-outline" /> Warp Home
      </Button>
      <Button
        as="a"
        className="w-full sm:w-auto"
        href="javascript:history.back()"
        size="lg"
        variant="outline"
      >
        <Icon class="mr-2 size-6" name="mdi:arrow-u-left-bottom" /> Go Back
      </Button>
    </div>
  </ErrorPage>
</LayoutRoot>
