---
import LayoutRoot from '../components/layout/layout-root.astro';
import Container from '../components/molecules/container.astro';
import HomeDashboard from '../components/organisms/home-dashboard.astro';
import { PROFILE } from '../lib/config';
---

<LayoutRoot
  description={PROFILE.bio}
  includeFooter={true}
  includeHeader={true}
  title={`${PROFILE.name} | Senior Software Engineer`}
>
  <Container>
    <div class="flex min-h-screen flex-col items-center justify-center py-12 lg:py-20">
      <HomeDashboard />
    </div>
  </Container>
</LayoutRoot>
