---
import type { HTMLAttributes } from "astro/types";

import { Icon } from "astro-icon/components";

import type { PostLink } from "../../lib";

import Button from "./button.astro";

interface Props extends HTMLAttributes<"a"> {
  link: PostLink;
}

const { class: className, link, ...props } = Astro.props;
---

<Button
  as="a"
  class:list={[
    "group rounded-full font-mono text-xs font-bold tracking-widest text-foreground uppercase transition-all hover:bg-muted/30 hover:no-underline",
    className,
  ]}
  href={link.href}
  size="sm"
  variant="outline"
  {...props}
  type="button"
>
  <Icon class="mr-1.5 size-3.5 transition-transform group-hover:-translate-x-1" name="mdi:arrow-left" />
  <span>{link.label}</span>
</Button>
