---
import type { HTMLAttributes } from "astro/types";

import type { PostLink } from "../../lib";

import AppIcon from "./app-icon.astro";
import Button from "./button.astro";

interface Props extends HTMLAttributes<"a"> {
  link: PostLink;
}

const { class: className, link, ...props } = Astro.props;
---

<Button
  as="a"
  class:list={[
    "group rounded-full font-mono text-xs font-bold tracking-widest text-foreground uppercase transition-all hover:bg-muted/30 hover:no-underline",
    className,
  ]}
  href={link.href}
  size="sm"
  variant="outline"
  {...props}
  type="button"
>
  <AppIcon hover="move" name="mdi:arrow-left" size="sm" transition="default" />
  <span>{link.label}</span>
</Button>
