---
interface Props {
  class?: string;
  variant?: 'footer' | 'section';
}

const { class: className, variant = 'footer' } = Astro.props;

const styles = {
  footer: "bg-linear-to-r from-transparent via-primary/20 to-transparent",
  section: "bg-linear-to-r from-border via-primary/30 to-border"
};
---

<div class:list={[
  {"absolute inset-x-0 top-0 h-px": variant === 'footer', "mt-6 h-px w-full": variant !== 'footer'},
  styles[variant],
  className
]}></div>
