---
import { Icon } from 'astro-icon/components';

import Button from './button.astro';
---

<Button
  aria-label="Scroll to top"
  as="button"
  class="bottom-6 left-6 translate-y-20 opacity-0 md:bottom-10 md:left-10"
  id="smart-scroll-to-top"
  variant="tabs"
>
  TOP
  <Icon
    class="size-3 transition-transform duration-300 group-hover:-translate-y-0.5"
    name="mdi:arrow-up"
  />
</Button>

<script>
  import { initSmartScroll } from '../../lib/scroll';

  const init = () => initSmartScroll('smart-scroll-to-top');

  init();
  document.addEventListener('astro:after-swap', init);
</script>
