---
import type { HTMLAttributes } from "astro/types";

import { cn } from "../../lib/cn";

export interface Props extends HTMLAttributes<"div"> {
  decorative?: boolean;
  orientation?: "horizontal" | "vertical";
}

const { class: className, decorative = true, orientation = "horizontal", ...props } = Astro.props;
---

<div
  class:list={[cn("shrink-0 bg-border", orientation === "horizontal" ? "h-px w-full" : "h-full w-px", className)]}
  data-orientation={orientation}
  role={decorative ? "none" : "separator"}
  {...props}
>
</div>
