---
import type { HTMLAttributes } from "astro/types";

import type { PostLink } from "../../lib";

import { cn } from "../../lib/cn";
import Button from "../atoms/button.astro";
import Icon from "../atoms/icon.astro";

interface Props extends HTMLAttributes<"a"> {
  link: PostLink;
}

const { class: className, link, ...props } = Astro.props;
---

<Button
  as="a"
  class:list={[
    cn(
      "group hover:shadow-glow-primary rounded-full font-mono text-xs font-bold tracking-widest text-muted-foreground transition-all hover:border-primary/50 hover:bg-primary/10 hover:text-primary hover:no-underline",
      className,
    ),
  ]}
  href={link.href}
  size="sm"
  variant="glass"
  {...props}
  type="button"
>
  <Icon
    class="text-primary transition-transform duration-300 group-hover:-translate-x-1"
    name="mdi:arrow-left"
    size="sm"
  />
  <span class="ml-1">{link.label}</span>
</Button>
