---
import { Icon } from 'astro-icon/components';

import { buildListUrl, VIEW_MODES, type ViewMode, type ViewUrls } from '../../lib/list';
import Button from '../atoms/button.astro';

interface Props {
  showLabels?: boolean;
  viewMode?: ViewMode;
  viewUrls?: ViewUrls;
}

const {
  showLabels = true,
  viewMode = 'list',
  viewUrls,
} = Astro.props;

const buildUrl = (path: string, paramsToSet: Record<string, number | string | undefined> = {}) =>
  buildListUrl(Astro.url, 'path', path, paramsToSet);
---

<div class="display-menu flex items-center gap-1">
  {VIEW_MODES.map(({ icon, label, mode }) => (
    <Button
      as="a"
      class="hover:no-underline"
      data-active={viewMode === mode}
      href={viewUrls ? buildUrl(viewUrls[mode]) : buildUrl(Astro.url.pathname, { view: mode })}
      size="sm"
      variant="tabs"
    >
      <Icon class="shrink-0" name={icon} size={16} />
      {showLabels && (
        <span class="ml-1.5">{label}</span>
      )}
    </Button>
  ))}
</div>
