---
import type { HTMLAttributes } from 'astro/types';

import { cn } from '../../lib/cn';
import Stack from './stack.astro';

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...rest } = Astro.props;
---

<Stack align="center" class:list={cn("flex-row gap-3", className)} {...rest}>
  <slot name="avatar" />
  <div class="hidden sm:block">
    <slot name="name" />
  </div>
</Stack>
