---
import type { HTMLAttributes } from "astro/types";

import { cn } from "@client";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
  columns?: number;
  gap?: string;
}

const {
  class: className,
  columns = 2,
  gap = "1rem",
  ...rest
} = Astro.props;
---

<div
  class={cn("grid", className)}
  style={`grid-template-columns: repeat(${columns}, 1fr); gap: ${gap};`}
  {...rest}
>
  <slot />
</div>
