---
import type { HTMLAttributes } from "astro/types";

import { cn } from "@client";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
  columns?: number;
}

const { class: className, columns = 2, ...rest } = Astro.props;
---

<div class={cn("masonry-grid", className)} data-masonry-columns={columns} {...rest}>
  <slot />
</div>

<script>
  import { setupMasonry } from "@client";

  setupMasonry();
  document.addEventListener("astro:page-load", setupMasonry);
</script>
