---
import type { HTMLAttributes } from "astro/types";

import { cn } from "../../lib/cn";
import Button from "../atoms/Button.astro";
import Icon from "../atoms/Icon.astro";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  label: string;
}

const { class: className, href, label, ...props } = Astro.props;
---

<Button
  as="a"
  class:list={[
    cn(
      "group hover:shadow-glow-primary rounded-full font-mono text-xs font-bold tracking-widest text-muted-foreground transition-all hover:border-primary/50 hover:bg-primary/10 hover:text-primary hover:no-underline",
      className,
    ),
  ]}
  href={href}
  size="sm"
  variant="glass"
  {...props}
>
  <Icon
    class="text-primary transition-transform duration-300 group-hover:-translate-x-1"
    name="mdi:arrow-left"
    size="sm"
  />
  <span class="ml-1">{label}</span>
</Button>
