---
import type { Tag } from "../../lib/collections";

import ToolbarItemComponent from "../atoms/toolbar-item.astro";
import Tags from "./tags.astro";

interface Props {
  heading: string;
  items: Tag[];
}

const { heading, items: tags } = Astro.props;
---

{
  tags && tags.length > 0 && (
    <ToolbarItemComponent>
      <span slot="label">{heading}</span>
      <Tags tags={tags} />
    </ToolbarItemComponent>
  )
}
