---
import type { HTMLAttributes } from 'astro/types';

import { cn } from '../../lib/cn';

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...rest } = Astro.props;
---

<div
  class:list={cn(
    "pointer-events-auto absolute -bottom-10 z-10 flex h-10 items-center justify-center rounded-b-2xl border-x border-b border-border/50 bg-background/80 px-4 pt-2 pb-1 shadow-2xl ring-1 ring-border/20 backdrop-blur-2xl transition-all duration-300 hover:pt-3",
    className
  )}
  {...rest}
>
  <div class="absolute inset-0 -z-10 rounded-b-2xl bg-linear-to-b from-(--page-accent-color)/10 to-transparent opacity-50"></div>
  <slot />
</div>
