---
import type { HTMLAttributes } from "astro/types";

import { cn } from "../../lib/cn";
import Icon from "../atoms/Icon.astro";
import Input from "../atoms/Input.astro";
import Kbd from "../atoms/Kbd.astro";

interface Props extends HTMLAttributes<"input"> {
  containerClass?: string;
  showKbd?: boolean;
}

const { class: className, containerClass, showKbd = true, ...props } = Astro.props;
---

<div class:list={cn("relative flex items-center", containerClass)}>
  <Icon
    class="absolute left-3 text-muted-foreground transition-colors group-focus-within:text-primary"
    name="mdi:magnify"
    size="md"
  />
  <Input class:list={cn("pr-12 pl-10", className)} {...props} />
  {
    showKbd && (
      <div class="absolute right-3 hidden items-center gap-1 sm:flex">
        <Kbd>⌘</Kbd>
        <Kbd>K</Kbd>
      </div>
    )
  }
</div>
