---
import { cn } from "../../lib/cn";

interface Props {
  className?: string;
  label: string | undefined;
}

const { className, label } = Astro.props;
---

<div class:list={cn("flex flex-col gap-0", className)}>
  <span class="text-[10px] font-bold tracking-widest text-muted-foreground/60 uppercase">
    <slot name="label">
      <span>{label}</span>
    </slot>
  </span>
  <div class="flex items-center gap-1.5 text-sm font-semibold text-foreground">
    <slot />
  </div>
</div>
