---
import { cn } from "../../lib/cn";
import Grid from "../atoms/Grid.astro";
import Container from "../atoms/Container.astro";
import Stack from "../atoms/Stack.astro";

export interface Props {
  as?: any;
  class?: string;
  gap?: number;
}

const { as: Tag = "section", class: className, gap = 8 } = Astro.props;
const hasSidebar = Astro.slots.has("sidebar");
---

<Container as={Tag} class:list={[cn("relative z-10", className)]}>
  {
    hasSidebar ? (
      <Grid cols={{ base: 1, lg: 12 }} gap={gap} class="items-start">
        {/* Dynamic Content Region (8 columns) */}
        <div class="lg:col-span-8 flex flex-col gap-12">
          <slot />
        </div>

        {/* Dynamic Sidebar Region (4 columns) */}
        <aside class="lg:col-span-4 lg:sticky lg:top-24 h-fit">
          <Stack gap={6} class="glass p-6 rounded-2xl border-white/5">
            <slot name="sidebar" />
          </Stack>
        </aside>
      </Grid>
    ) : (
      <div class="max-w-4xl mx-auto flex flex-col gap-12">
        <slot />
      </div>
    )
  }
</Container>
