---
import { NAV_ITEMS_ARRAY, type NavItem } from "../../lib/config";
import Card from "./card.astro";
import ProfileHeader from "./profile-header.astro";

const { items = NAV_ITEMS_ARRAY.filter((i) => i.label !== "Home") } = Astro.props;

interface Props {
  items?: NavItem[];
}
---

<div class="relative flex flex-col gap-8">
  {/* Profile Header */}
  <ProfileHeader />

  {/* Navigation Grid */}
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      items.map((item) => (
        <Card
          class="h-full"
          data={{
            icon: item.icon,
            subtitle: item.description,
            title: item.label,
            url: item.href,
          }}
          glowColor={item.color}
          visual="glass"
        />
      ))
    }
  </div>
</div>
